/* Police Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Monoton&family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0; /* Supprime les marges par défaut */
    padding: 0;
    box-sizing: border-box; /* Assure un bon calcul des dimensions */
}

.navbar {
    background-color: #f8f9fa;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.navbar .brand {
    font-family: 'Monoton', cursive;
    font-size: 2em;
    color: #000;
    margin-bottom: 10px;
}

.navbar .brand a {
    text-decoration: none;
    color: inherit;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    position: relative; /* Nécessaire pour positionner la barre sous le lien */
    margin: 0 20px;
    font-size: 1.2em;
    color: #333;
    font-weight: 100; 
}

.navbar li a {
    text-decoration: none; /* Supprime le soulignement */
    color: inherit; /* Garde la couleur définie dans li */
    position: relative;
    z-index: 1;
}

.navbar li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #000000;
    border-radius: 2px;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar li:hover::after {
    width: 100%;
    left: 0;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0; /* Supprime les marges autour du carrousel */
}

.carousel-images {
  position: relative; /* Nécessaire pour gérer les images superposées */
  width: 100%;
  height: 400px;
  overflow: hidden; /* Cache les parties des images qui dépassent */
  margin: 0; /* Assure que les images occupent toute la largeur */
}

.carousel-image {
  width: 100%; /* Chaque image occupe toute la largeur du conteneur */
  height: 400px; /* Hauteur fixe pour uniformiser les images */
  object-fit: cover; /* Les images remplissent le conteneur sans déformation */
  position: absolute; /* Toutes les images sont superposées */
  top: 0;
  left: 0;
  opacity: 0; /* Toutes les images sont cachées par défaut */
  transition: opacity 0.5s ease-in-out; /* Transition fluide entre les images */
}

.carousel-image.active {
  opacity: 1; /* Seule l'image active est visible */
  z-index: 1; /* L'image active est au-dessus des autres */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  padding: 15px;
  font-size: 1.8em;
  cursor: pointer;
  z-index: 10;
  transition: background 0.3s ease;
}

.carousel-button.left {
  left: 20px;
}

.carousel-button.right {
  right: 20px;
}

.carousel-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Place les dots au-dessus des images */
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 8px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.dot.active {
  background-color: #333;
  transform: scale(1.5); /* Effet de mise en avant pour le point actif */
}

/* Structure de la grille */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Colonnes adaptatives */
  gap: 20px; /* Espacement entre les cartes */
  padding: 20px;
  width: 100%;
}

/* Carte produit */
.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Image produit */
.product-image {
  width: 100%;
  max-width: 200px; /* Taille maximale de l'image */
  height: 200px;
  object-fit: cover; /* Ajuste l'image sans la déformer */
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Nom produit */
.product-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Prix produit */
.product-price {
  font-size: 1em;
  color: #007bff;
  margin-bottom: 10px;
}

/* Couleurs disponibles */
.product-colors {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.color-square {
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  background-color: transparent;
  padding: 3px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-square div {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: inherit;
}

.title-collection {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em; /* Ajuste la taille selon tes préférences */
  font-weight: 70; /* Utilise un poids bold pour plus de visibilité */
  text-align: center;
  margin-top: 20px;
}
/* Icône de connexion */
.auth-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  z-index: 10; /* S'assure que l'icône est au-dessus des autres éléments */
}

.auth-icon-image {
  width: 30px;
  height: 30px;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 20; /* Assure que le menu passe au-dessus du carrousel */
}

.dropdown-menu a {
  text-decoration: none;
  color: #333;
  font-size: 0.9em;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #f2f2f2;
}
/* Authentification Pages */
.auth-page {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 0; /* Suppression des bords arrondis */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.auth-page h1 {
  margin-bottom: 20px;
  font-size: 1.8em;
  font-family: 'Raleway', sans-serif;
  color: #000;
}

.auth-page form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Ajuste l'espacement entre les champs */
  align-items: center; /* Aligne les champs */
}

.auth-page input {
  padding: 8px; /* Réduit la hauteur des champs */
  font-size: 1em;
  margin-bottom: 6px;
  border: 1px solid #000;
  border-radius: 0; /* Suppression des bords arrondis */
  width: 100%;
  transition: border-color 0.3s ease;
  background-color: #fff;
  color: #000;
  box-sizing: border-box; /* Assure un alignement propre */
  
}

.auth-page input:focus {
  border-color: #000;
  outline: none;
}

.auth-page button {
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 0; /* Suppression des bords arrondis */
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%; /* Assure l'alignement avec les champs */
  margin-top: 16px;
  margin-bottom: 20px;
}

.auth-page button:hover {
  background-color: #fff;
  color: #000;
}

